.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

plans/